version: "3.8"

services:
  postgres:
    image: postgres:17-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:8.2.3
    restart: always
    command: --requirepass ${REDIS_PASSWORD} 
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
  api:
    build: .
    restart: always
    ports:
      - "${APP_HTTP_PORT:-8080}:${APP_HTTP_PORT:-8080}"
    environment:
      APP_POSTGRES_URL: "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable"
      APP_REDIS_HOST: "redis"
      APP_REDIS_PORT: "6379"
      APP_REDIS_PASSWORD: ${REDIS_PASSWORD}
      APP_JWT_SIGNING_KEY: ${APP_JWT_SIGNING_KEY}
      APP_JWT_TTL: ${APP_JWT_TTL}
      APP_HTTP_PORT: ${APP_HTTP_PORT}
    depends_on:
      - postgres
      - redis

volumes:
  postgres-data:
  redis-data: