version: "3.8"

services:
  db:
    image: postgres:17-alpine
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: cars_db
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  api:
    build: .
    restart: always
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: "postgres://myuser:mypassword@db:5432/cars_db?sslmode=disable"
      SIGNING_KEY: "super-secret-key"
    depends_on:
      - db

volumes:
  postgres-data: